/* .site-intro {
    font-size: clamp(1.5rem, 1.8vw, 2.1rem);
} */

@use "intro";
@use "hero";
@use "gallery";
@use "services";
@use "accordian";


/* Global */
.parent-container {
    width: 90%;
    margin: 0 auto;
    padding: 0; 
}

#intro .container, 
#hero .container,
#portfolio .container  {
    margin-top: 20px;
    margin-bottom: 20px;
}



.backdrop-effect {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: brightness(100px);  
    -webkit-backdrop-filter: brightness(100px);  
    backdrop-filter: blur(3px);  
    -webkit-backdrop-filter: blur(3px);
  }
  
  .button-effect {
      display: block;
      transform: scale(1.0);
      transition: transform 0.23s ease-in-out;
  }
    
  .button-effect:hover {    
      filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
      z-index: 999;
  
      transform: scale(1.13);
      transition: transform 0.7s ease-in-out;
  }
  
  /* Disable hover effects on mobile */
  @media (max-width: 768px) {
      .button-effect:hover
      {
          transform: scale(1.0);
          filter: none;
      }
}
