@use "intro";
@use "banner";
@use "banner-media";
@use "gallery";
@use "services";
@use "accordian";
@use "about";
@use "faq";
@use "nav-menu";
@use "footer";

/* Global */
.parent-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#hero,
#portfolio,
#about,
#faq,
#services {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

#banner {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;  
}

main {
  padding-top: 7rem;
}

.bg-extender {
    background-color: rgba(255, 255, 255, 0.358);
    background-image: url("../../public/images/site/bg3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: color;
}


.backdrop-effect {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: brightness(100px);  
  -webkit-backdrop-filter: brightness(100px);  
  backdrop-filter: blur(3px);  
  -webkit-backdrop-filter: blur(3px);
}

.button-effect {
  display: block;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {    
filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
  z-index: 999;

  transform: scale(1.13);
  transition: transform 0.7s ease-in-out;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover {
    transform: scale(1.0);
    filter: none;
  }
}
